* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0 0 1rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Lato;
  color: #222;
}

menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

dialog {
  min-width: 400px;
  padding: 1.5rem;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.15);
}

details {
  display: block;
}

details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}
 